/**
 * search page
 */

.search-bar-wrapper {
  padding: 8px;
  background: var(--color-bg);
}

.search-bar {
  font-size: var(--font-size-medium);
}

.search-bar__form {
  position: relative;
  height: 36px;
  padding: 8px 30px 8px 36px;
  border-radius: 4px;
  background: #fff;
}

.search-bar__cancel-btn {
  padding: 0 10px;
  line-height: 36px;
  color: var(--color-text);
}

.search-bar__input {
  width: 100%;
  line-height: 20px;
  color: var(--color-light);
}

.search-bar__form .icon-search,
.search-bar__form .icon-clear {
  position: absolute;
  top: 9px;
  width: 18px;
  height: 18px;
  text-indent: -999px;
}

.search-bar__form .icon-search {
  left: 10px;
}

.search-bar__form .icon-clear {
  right: 8px;
  border-radius: 50%;
  background: #b1b1b1;
}

.search-bar__form .icon-clear::before,
.search-bar__form .icon-clear::after {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  border-radius: 8px;
  background: #fff;
  transform: translate(-50%, -50%) rotate(45deg);
}

.search-bar__form .icon-clear::before {
  width: 10px;
  height: 2px;
}

.search-bar__form .icon-clear::after {
  width: 2px;
  height: 10px;
}

.search-result {
  padding: 16px;
}

.search-result__title {
  margin-bottom: 8px;
  font-size: var(--font-size-medium);
  color: var(--color-text);
}

.search-result__tags {

}

.tag {
  display: inline-block;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, .6);
  border-radius: 100px;
  margin: 0 16px 10px 0;
  line-height: 30px;
  font-size: var(--font-size-medium);
  word-break: keep-all;
  color: var(--color-dark);
}

.tag_hot {
  border-color: #fc4524;
  color: #fc4524;
}